BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "kbclock" SITE "95" ;
LOCATE COMP "kbdata" SITE "94" ;
IOBUF PORT "kbclock" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "kbdata" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "audio_l" IO_TYPE=LVCMOS33 ;
IOBUF PORT "audio_r" IO_TYPE=LVCMOS33 ;
LOCATE COMP "audio_l" SITE "97" ;
LOCATE COMP "audio_r" SITE "96" ;
LOCATE COMP "reset" SITE "43" ;
IOBUF PORT "reset" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
FREQUENCY PORT "clk" 50.000000 MHz ;
LOCATE COMP "clk" SITE "3" ;
